<template>
  <v-app-bar
    v-scroll="onScroll"
    app
    dense
    elevate-on-scroll
    :color="!isScrolling ? 'transparent' : 'grey lighten-3'"
  ><div @click="goto">
    <v-img
      class="shrink"
      max-width="100%"
      src=""
    />
    </div>
 
    <template v-if="$vuetify.breakpoint.mdAndUp">
      <v-btn
        v-for="(item, i) in items"
        :key="i"
        
        class="text-capitalize subtitle-1 mx-1"
        text
      >
        <span v-text="item.text" />
      </v-btn>
    </template>
    <v-menu v-else>
      <template v-slot:activator="{ on }">
        <v-btn
          icon
          v-on="on"
        >
          <v-icon>mdi-dots-vertical</v-icon>
        </v-btn>
      </template>
      <v-card
        color="primary"
        dark
      >
        <v-list color="transparent">
          <v-list-item
            v-for="(item, i) in items"
            :key="i"
          >
            <v-list-item-title v-text="item.text" />
          </v-list-item>
        </v-list>
      </v-card>
    </v-menu>
  </v-app-bar>
</template>

<script>
  
  export default {
    data: () => ({
      isScrolling: false,
      items: [
        {
          to: '/',
          text: 'Servicios'
        },
        {
          to: '/nosotros',
          text: 'Nosotros'
        },
        {
          to: '/casos',
          text: 'Casos de éxito'
        },
        {
          to: '/keywords',
          text: 'Keywords'
        },
      ]
    }),

    methods: {
      onScroll () {
        this.isScrolling = (window.pageYOffset ||
          document.documentElement.scrollTop || 0) > 20
      },
      goto(){
/*         this.$router.push("/")
 */      }
    }
  }
</script>
