<template>
  <v-app>
    <v-content>
      <AppBar/>
      <h1>Hola</h1>
    </v-content>
  </v-app>
</template>

<script>
import HelloWorld from './components/HelloWorld';
import AppBar from './components/AppBar';

export default {
  name: 'App',

  components: {
    HelloWorld,
    AppBar
  },

  data: () => ({
    //
  }),
};
</script>
<style>

</style>
