@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");    

@font-face {
    font-family: Gordita-Light;
    src: url("/assets/fonts/Gordita-Light.otf") format("opentype");
}

$body-font-family: Gordita-Light;



@import "~vuetify/src/styles/styles.sass";
